VITE_USER_BASE_URL=http://localhost:5000/api/v1
VITE_ADMIN_BASE_URL=http://localhost:5000/api/v1/admin
VITE_SOCKET_URL=http://localhost:5000
VITE_AWS_S3_ACCESS_KEY_ID=your_aws_s3_access_key_id
VITE_AWS_S3_SECRET_ACCESS_KEY=your_aws_s3_secret_access_key
VITE_AWS_S3_BUCKET_REGION=your_aws_s3_bucket_region
VITE_AWS_S3_BUCKET_NAME=your_aws_s3_bucket_name
