@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    background-color: inherit;
}

 
h1{
    text-align: start;
}

.custom-cropper div {
    @apply bg-transparent;
  }

.custom-cropper img {
    @apply max-h-[70vh]
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
    scrollbar-width: none;
}