@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    background-color: inherit;
}

div{
    background-color: none ;
}

h1{
    text-align: start;
}

.custom-cropper div {
    @apply bg-transparent;
  }

.custom-cropper img {
    @apply max-h-[70vh]
}

